@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Overpass+Mono:600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    text-align: center !important;
    color: white;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.home {
    padding-top: 77px;
    justify-content: center;
}

.baslik {
    color: snow;
    margin-top: 44px;
    font-style: bold;
}

.clearfix {
    padding-left: 25%;
    float: left;
}

img {
    border: 0;
}

.parag {
    color: #04284b;
}

.footer {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    color: #5dd39e;
    border-top: 1px solid #00000013;
    height: 16%;
    margin-top: 66px;
    padding-top: 33px;
}

#main {
    /* background: white; */
    text-align: center;
    display: inline-block;
    box-shadow: 0 14px 28px rgb(0, 0, 0), 0 10px 10px rgba(0, 0, 0, 0.466);
    font-family: 'Roboto', sans-serif;
    margin: 20px auto 0 auto;
    border-radius: 44px;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.89);
}

.in {
    margin: 10px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius: 22px 22px 33px 33px;
}

#sip-main {
    width: 100%;
    padding-top: 0px;
    text-align: center;
}

#mainbody {
    /* background: white; */
    width: 50%;
    display: none;
}

#v {
    width: 320px;
    height: 240px;
}

#qr-canvas {
    display: none;
}

#qrfile {
    width: 320px;
    height: 240px;
}

#title {
    font-family: monospace;
}

#imghelp {
    position: relative;
    left: 0px;
    top: -160px;
    z-index: 100;
    font: 18px arial, sans-serif;
    /* background: #f0f0f0; */
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.selector {
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-bottom: -5px;
}

#outdiv {
    margin: 1em auto;
    width: 320px;
    height: 240px;
}

#result {
    color: #c9ad91;
    padding: 20px;
}

.tsel {
    padding: 0;
}

.custom-font {
    background: linear-gradient(to bottom, white, snow);
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Alex Brush", cursive;
    font-size: 66px;
    padding-top: 20px;
}

.slogan {
    color: #efedeb;
    font-style: italic;
    font-size: medium;
}


/* Php Files */

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #e9ecefa6;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
    text-decoration: none;
}

.kitchen {
    border: 1px solid white;
}

@media only screen and (max-width: 600px) {
    .decor {
        padding: 3px;
    }
    .wrap {
        width: 100%;
        margin-top: 0px;
    }
    li {
        float: none;
    }
    ul.primary li:hover a {
        background: none;
        color: #8B8B8B;
        text-shadow: 1px 1px #000;
    }
    ul.primary li:hover ul {
        display: block;
        background: #272727;
        color: #fff;
    }
    ul.sub {
        display: block;
        position: static;
        box-shadow: none;
        width: 100%;
    }
    ul.sub li a {
        background: #272727;
        border: none;
        color: #8B8B8B;
    }
    ul.sub li a:hover {
        color: #ccc;
        background: none;
    }
}


/* For footer */

p.foot {
    color: white;
    font-size: 9pt;
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold
}


/* For cart */

th.cart {
    color: white;
    background-color: #48577D;
    text-align: center;
    padding: 5px;
}

td.cart {
    text-align: center;
    background-color: #d3dcf2;
    padding: 10px;
}


/* For contact */

td.contact {
    padding: 10px;
}


/* For particular links */

#login:active,
#login:visited,
#login:link {
    color: blue;
    text-decoration: none;
    font-size: 13pt;
}

#signup:active,
#signup:visited,
#signup:link {
    color: blue;
    text-decoration: none;
    font-size: 13pt;
}

#username:active,
#username:visited,
#username:link {
    color: black;
    text-decoration: none;
}

#logout:active,
#logout:visited,
#logout:link {
    color: red;
    text-decoration: none;
}

#order:active,
#order:visited,
#order:link {
    color: blue;
    text-decoration: none;
}

#orderLogin:active,
#orderLogin:visited,
#orderLogin:link {
    color: blue
}

#delete:active,
#delete:visited,
#delete:link {
    color: red;
    text-decoration: none;
}

#continue:active,
#continue:visited,
#continue:link {
    color: blue;
    text-decoration: none;
}