@charset "utf-8";
/* CSS Document */
	#arkaplan{
			width:1500px;
			height:1300px;
			background-color:#0C9;
			margin:0 auto;
			}

	#header{
		    height:150px;
			background-color:#3C6;
			}
	#cerceve{
			height:1000px;
			background-color:#0FF;
			}
	#menualan{
		 	background-color:#999;
			width:1180px;
			height:40px;
			margin:0;
			
			}
	#reklam{
			width:320px;
			height:250px;
			background-color:#FFC;
			margin:0;
			
		
			}
	#foto{
		    background-color:#F96;
			width:1180px;
			height:960px;
			margin:0;
			
			
		
		 } 
	.menu{
            float:left;
			background-color:#36F;
			width:147.5px;
			height:40px;
			margin-left:0px;
             }
	#iletisim{
	       height:150px;
		   background-color:#333;
		   margin:0px;
		  
	          }
	#chat{
	       width:320px;
		   height:745px;
		   background-color:#C9C;
		   margin:0px;
		   padding-top:5px;
			}
    #sag{
			width:auto;
			height:auto;
			float:right;
			}
	#sol{
			width:auto;
			height:auto;
			float:right;
			}
    .fotograf{
 			width:295px;
			height:240px;
			background-color:#9C6;
			margin:0px;
			float:right;
			}
	.fotograf2{
 			width:295px;
			height:240px;
			background-color:#3FF;
			margin:0px;
			float:right;
			}
	.fotograf3{
 			width:295px;
			height:240px;
			background-color:#C99;
			margin:0px;
			float:right;
			}
	.fotograf4{
 			width:295px;
			height:240px;
			background-color:#630;
			margin:0px;
			float:right;
			}
	#arama{
			width:1180px;
			height:40px;
			background-color:#9F6;
			margin:0;
			}
	.sonuc1{
			width:236px;
			height:184px;
			background-color:#63C;
		    
			}
	.sonuc2{
			width:236px;
			height:184px;
			background-color:#0F6;
			}
	.sonuc3{
			width:236px;
			height:184px;
			background-color:#9C6;
			}
	.sonuc4{
			width:236px;
			height:184px;
			background-color:#3CF;
			}
	.sonuc5{
			width:236px;
			height:184px;
			background-color:#6C3;
			}